# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\交接\毕业文档-刘卫平\software\Vision_BG\projects\TemperatureMeasuringAndSampling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
